html{
  background-image: url("WallP.jpg"); 
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* This is the text right below the social media icons. It indicates how far off the buttons it is. */
.socialdesc {
  margin-top: 60px;
}

/*This is how far apart the social media icon buttons are.*/
a.btn.btn-social-icon.btn-lg { 
  margin-right: 10px;
}

/* Custom sizing of the email button in the contact me section */
button.btn.btn-email {
  padding: 5px 16px;
}

/* This is the image that displays myself in the about me section on the left side of the screen. */
.aboutimage {
  width: 90%;
}

/* This is the model sidebar design */
.modelbar {
  padding-left: 18px;
  padding-top: 10px;
  min-height: 600px;
  max-width: 170px;
}

/* This is the navbar text on the model page on the left side */
.modelnavbar {
  color: lightgray;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imageThumbs img {
    width: 200px;
    height: 159px;
}

.imageThumbMargin {
  margin-left: 1px;
}

.imageMarginRight {
  margin-right: 15px;
}

/* The color of the navbar and the text-alignment of the links inside of it */

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
        background-color: transparent;
        border-color: transparent;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .navbar-inverse {
      background-color: transparent;
      border-color: transparent;

    }
}

 /*This is the color of the links in the navbar */
.navbar-inverse .navbar-nav>li>a {
  color: black;
}

.navbar-inner {
  background:transparent;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: transparent !important;
  /* important used here for demo */
}

.navbar-inverse {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: transparent !important;
  border-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a {
  background-color:transparent;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color:transparent;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #fff;
    background-color: silver;
    color: red;
    opacity: 0.7;
}

.imageThumbs.col-md-2 :hover {
    opacity: 0.8;
}